public-hoist-pattern[]=expo-*
public-hoist-pattern[]=@expo/*
public-hoist-pattern[]=@react-native-firebase/*
public-hoist-pattern[]=@stripe/stripe-react-native
public-hoist-pattern[]=@react-native-google-signin/*
public-hoist-pattern[]=react-native-svg-transformer
